html, body {
  font-size: 18px;
  font-family: Helvetica;
  margin: 0 auto;
  line-height: 1.4;
  background-color: white;
}

.main {
  display: block;
  max-width: 960px;
  justify-content: center;
  margin: 0 auto;
}

.container {
  background-image: url("./images/glasses-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  padding-top: 1rem;
}

.main .header {
  display: inline-flex;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  align-items: center;
  width: 100%;
}

.glasses {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
